# Entorno virtual
venv/
ENV/
.env
.env.bak
venv.bak

# Archivos de caché y compilados
__pycache__/
*.py[cod]
*$py.class

# Reportes y capturas
datos/
reports/assets/

# Configuración de VS Code
.vscode/

# Otros archivos temporales
*.log
.DS_Store
Thumbs.db
